#ai-panel {
    display: flex;
    flex-direction: column;
    flex: 1;

    border-radius: 15px;
    border: #161617 solid; 
    background-color: #161617;

}

/* Область вывода занимает всё сверху */
#ai-output {
    flex: 1;                 /* главное */
    padding: 10px;
    overflow-y: auto;

    color: #fff;
    font-family: monospace;
}

/* Блок с input всегда внизу */
#ai-input-wrapper {
    padding: 8px;
    border-top: solid #161617;

}

/* Input */
#ai-input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;

    border: 1px solid #fca74e;
    background-color: #161617;

    color: #fff;
    font-size: 14px;
    outline: none;
}
