Screen {
    layout: vertical;
    background: #222629;
    border: round #628931;
    padding: 1 2;
}


Input {
    dock: bottom;
    height: 3;
    background: #222629;
    margin: 0;
    padding: 0 2;
    color: #ffffff;
    border: round transparent #86c231;
}

#ascii-art {
    content-align: center middle;
    color: #86c231;
    padding: 1 2;
}



Markdown .strong {
    color: #14A76C;   /* жирный текст */
}

Markdown .emph {
    color: #FFE400;   /* курсив */
}
Markdown .code {
    color: #FF652F;   /* inline code */
    background: #141414;
    padding: 0 1;
    border: round #FF652F;
}

Markdown .heading {
    color: #00BFFF;  
}
Markdown .link {
    color: #FF00FF;   
}
Markdown .code_block {
    color: #8888FF;   
}
